@import "./catppuccin.css";
/* @import "./tokyonight.css"; */

* {
  font-family: "CaskaydiaCove Nerd Font";
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  min-width: 18px;
}

window#waybar {
  /* background-color: alpha(@background, 0.85); */
  /* box-shadow: 0 10px 24px rgba(0, 0, 0, 0.22); */
  background-color: transparent;
}

tooltip {
  background: alpha(@background, 0.85);
  border: 1px solid #000;
  border-radius: 12px;
}

/* Workspace - Start */
#workspaces {
  background: alpha(@background, 0.85);
  min-width: 0px;
  margin: 0px;
  padding: 0px 8px 0px 8px;
  transition: all 0.3s ease-in-out;
  font-size: 8px;
  border-radius: 9999px;
  border: 2px solid alpha(@foreground, 0.15);
}

#workspaces button {
  background: linear-gradient(135deg, @color4 0%, @color4 100%);
  color: transparent;
  transition: all 0.3s ease-in-out;
  min-height: 0px;
  margin: 8px 5px;
  border-radius: 9999px;
}

#workspaces button.active {
  color: transparent;
  background: linear-gradient(135deg, @color4 0%, @color5 100%);
  transition: all 0.3s ease-in-out;
  border-radius: 9999px;
  min-width: 100px;
}

#workspaces button:hover {
  background: linear-gradient(90deg, @color1 0%, @color5 100%);
  color: transparent;
  transition: all 0.3s ease-in-out;
  border-radius: 9999px;
  background-size: 400% 400%;
}

#workspace button.urgent {
  background: linear-gradient(180deg, @color3 0%, @color1 100%);
  color: @foreground;
  transition: all 0.3s ease-in-out;
  background-size: 400% 400%;
  border-radius: 9999px;
}
/*End*/

/* Left modules */
#custom-update,
#clock,
#custom-launcher {
  background: alpha(@background, 0.85);
  margin: 0px 5px 0px 5px;
  padding: 0px 5px 0px 5px;
  font-size: 14px;
  border-radius: 16px;
  border: 1px solid alpha(@foreground, 0.15);
}

#custom-update {
  color: @foreground;
  font-weight: bold;
  font-size: 14px;
  margin: 0px 10px;
  padding: 1px 6px 0px 3px;
}

#custom-launcher {
  color: @foreground;
  margin-left: 10px;
  padding: 0px 6px 0px 5px;
  font-size: 18px;
}

#clock {
  color: @color4;
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px;
  padding: 0px 10px 0px 10px;
}

/* Right module */
.modules-right {
  background: alpha(@background, 0.85);
  margin: 0px 10px;
  padding: 0px 8px;
  border-radius: 16px;
  border: 1px solid alpha(@foreground, 0.15);
}

#pulseaudio,
#custom-expand-icon,
#network,
#bluetooth,
#battery {
  margin: 0px 5px;
}

#custom-expand-icon {
  color: @color6;
  padding: 0 2px 0 0;
}

#tray {
  margin-left: 5px;
  padding: 0 2px;
}

#pulseaudio {
  color: @color3;
  margin-left: 10px;
  padding: 0 3px 0 1px;
}

#pulseaudio-slider {
  font-size: 10px;
}

#pulseaudio-slider slider {
  border-radius: 3px;
  min-height: 10px;
  min-width: 15px;
}

#pulseaudio-slider trough {
  min-height: 5px;
  min-width: 150px;
  border-radius: 9999px;
  background-color: @color0;
}

#pulseaudio-slider highlight {
  min-height: 0px;
  min-width: 5px;
  border-radius: 9999px;
  background: linear-gradient(90deg, @color3 0%, @color5 100%);
}

#bluetooth {
  color: @color5;
  padding: 0 2px;
}

#network {
  color: @color1;
  padding: 0 5px 0 0;
}

#battery {
  color: @color2;
  padding: 0 2px;
}
